<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css"> -->
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <span class="imdb">123  </span>
    <span class="float-right">123  </span>
    <p class="float-right">123  </p>
    <p>234</p>
    <p style="red">144</p>
</body>
</html>
